In [3]:
print("hello")
print(2+3)

hello
5

In [4]:
print('jjhh')

jjhh

In [17]:
import pandas as pd
import numpy as np

In [7]:
pd.show_versions()

INSTALLED VERSIONS
------------------
commit           : e8093ba372f9adfe79439d90fe74b0b5b6dea9d6
python           : 3.10.5.final.0
python-bits      : 64
OS               : Windows
OS-release       : 10
Version          : 10.0.19042
machine          : AMD64
processor        : Intel64 Family 6 Model 61 Stepping 4, GenuineIntel
byteorder        : little
LC_ALL           : None
LANG             : None
LOCALE           : English_United States.1252

pandas           : 1.4.3
numpy            : 1.23.1
pytz             : 2022.1
dateutil         : 2.8.2
setuptools       : 58.1.0
pip              : 22.2
Cython           : None
pytest           : None
hypothesis       : None
sphinx           : None
blosc            : None
feather          : None
xlsxwriter       : None
lxml.etree       : None
html5lib         : None
pymysql          : None
psycopg2         : None
jinja2           : None
IPython          : 8.4.0
pandas_datareader: None
bs4              : None
bottleneck       : None
brotli           : None
fastparquet      : None
fsspec           : None
gcsfs            : None
markupsafe       : None
matplotlib       : 3.5.2
numba            : None
numexpr          : None
odfpy            : None
openpyxl         : None
pandas_gbq       : None
pyarrow          : None
pyreadstat       : None
pyxlsb           : None
s3fs             : None
scipy            : 1.8.1
snappy           : None
sqlalchemy       : None
tables           : None
tabulate         : None
xarray           : None
xlrd             : None
xlwt             : None
zstandard        : None

In [8]:
df=pd.DataFrame({'A':[1,2,3,4],'B':[5,6,7,8]})
df

   A  B
0  1  5
1  2  6
2  3  7
3  4  8

In [9]:
pd.DataFrame(np.random.rand(4,8))

,0,1,2,3,4,5,6,7
0,0.316405,0.228729,0.705946,0.477816,0.548720,0.294994,0.912767,0.189191
1,0.178655,0.496430,0.128959,0.934877,0.631017,0.351820,0.419196,0.578521
2,0.920026,0.055960,0.475325,0.327258,0.317647,0.678657,0.354380,0.391710
3,0.493444,0.355682,0.998753,0.284752,0.783022,0.404662,0.640246,0.096953

In [10]:
pd.DataFrame(np.random.rand(4,8),columns = list('ABCDEFGH'))

,A,B,C,D,E,F,G,H
0,0.684192,0.481884,0.794030,0.229675,0.443258,0.674066,0.244640,0.698899
1,0.029251,0.015479,0.142964,0.851678,0.839149,0.713498,0.762652,0.780035
2,0.727329,0.535769,0.878820,0.318114,0.100939,0.732091,0.691437,0.603031
3,0.681271,0.322937,0.142608,0.640649,0.913581,0.168439,0.791624,0.784725

In [12]:
pd.DataFrame(np.random.rand(2,4),columns = list('ABCD'))

          A        B         C         D
0  0.031214  0.38353  0.602408  0.265454
1  0.649878  0.04996  0.119380  0.668800

In [8]:
for x in range(1,10):
    print('Python ka chilla')

for x in range(1,10):
    if x > 2:
        print(x)
    else:
        print("x is less than 2")

Python ka chilla
Python ka chilla
Python ka chilla
Python ka chilla
Python ka chilla
Python ka chilla
Python ka chilla
Python ka chilla
Python ka chilla
x is less than 2
x is less than 2
3
4
5
6
7
8
9

In [9]:
def sum(x,y):
    return(x+y)

sum(2,3)

5

In [12]:
print(sum(6,9))

15

In [18]:
df = pd.DataFrame(np.random.rand(2,4),columns = list('ABCD'))
df

          A         B         C         D
0  0.147881  0.000638  0.181575  0.491018
1  0.118329  0.117311  0.975975  0.272339

In [20]:
df.columns=('A1','B2','C3','D4')
df.head(1)

         A1        B2        C3        D4
0  0.147881  0.000638  0.181575  0.491018

In [23]:
df=pd.DataFrame({'A':[1,2,3,4],'B':[5,6,7,8],'C':["hello","amigo","python","chilla"]})
df

   A  B       C
0  1  5   hello
1  2  6   amigo
2  3  7  python
3  4  8  chilla

In [25]:
df=pd.DataFrame({"Fruit":['Mango','Orange','Lychee','Apple'],"Price/kg":[100,80,200,150]})
df

    Fruit  Price/kg
0   Mango       100
1  Orange        80
2  Lychee       200
3   Apple       150